*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
 * Margin
*/

.m-0{
    margin: 0;
}
.m-1{
    margin: 1px;
}
.m-2{
    margin: 2px;
}
/*
 * End Margin
*/

/*
 * Height
*/
.h-50{
    height: 50px;
}

/*
 * End Height
*/

/*
 * Width
*/
.w-50{
    width: 50px;
}

/*
 * End Width
*/

/*
 * Display flex
*/

.d-flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
 * End display flex
*/


/*
 * Background color
*/
.bg-black{
    background-color: black;
}

.bg-green{
    background-color: green;
}


/*
 * End Background color
*/